body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: papayawhip;
}

#calculator {
    min-height: 70vh;
    min-width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#container {
    display: grid;
    gap: .3rem;
    min-width: 85%;
    min-height: 65vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 2px;
    margin: 1.65rem;
}

#display {
    font-size: 30px;
    max-width: 100%;
    height: 95.7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: end;
    grid-area: 1/1/1/5;
    padding-right: .7rem;
    background-color: white;
}

#display-history {
    font-size: 23px;
    color: gray;
    height: 1.5rem;
    display: flex;
    justify-content: right;
    grid-area: 1/1/1/5;
    z-index: 1;
    padding: 1rem .7rem 0 0;
    background-color: white;
}

#divide {
    grid-area: 2/3/2/3
}

#multiply {
    grid-area: 2/4/2/4;

}

#subtract {
    grid-area: 3/4/4/5
}

#add {
    grid-area: 4/4/5/5
}

#equals {
    grid-area: 5/4/7/5;
}

#zero {
    grid-area: 6/1/7/3;
}

#decimal {
    grid-area: 6/3/7/4;

}

#clear {
    grid-area: 2/1/2/3
}